html,
body {
    height: 100%;
    display: flex;

}


#sidebar {
    padding: 1%;
    margin: 1%;
    height: 100%;
    width: 200px;
    background-color: yellow;
    flex-direction: column;
    display: flex;
    align-items: center;
   
}


.logo img {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo + .links {
    margin: 30px;
}


.place {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: black solid 1px;
    margin-bottom: 30px;
}



.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}


.links a {

    text-decoration: none;
    display: flex;
    font-size: 20px;
    color: #2b2b2b;
    text-align: center;
    transition: color 0.3s;
    margin-bottom: 25px;

}

.links a:hover {
    color: #2b2bb2;
}

.links a:active {
    transform: scale(1.1);
    transition: transform 0.3s;
}


.avatar img {
    width: 70px;
    height: 70px;
    
}

.avatar{
    margin-bottom: 10%;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 1px solid black;
    align-items: center;
    overflow: hidden;
    background: white;

}


.avatar:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s;
}


#username {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    font-weight: bold;

}

.links ~ #username {
    margin: 20px;
}
